{% set total_deaths = data.total_deaths or 0 %}
{% set total_cases = data.total_cases or 0 %}
{% set total_vaccinations = data.total_vaccinations or 0 %}

<div class="status row">
  <div class="col-sm-4">
    <div role="button" class="btn btn-danger w-100">
      Deaths<br>
      <span class="badge badge-light">
        {% if total_deaths > 1000000 %}
        {{ (total_deaths/1000000) | round(1) }}M
        {% elif total_deaths > 1000 %}
        {{ (total_deaths/1000) | round(1) }}K
        {% else %}
        {{ total_deaths | round(0) }}
        {% endif %}
      </span>
    </div>
  </div>
  <div class="col-sm-4">
    <div role="button" class="btn btn-primary w-100">
      Cases<br>
      <span class="badge badge-light">
        {% if total_cases > 1000000 %}
        {{ (total_cases/1000000) | round(1) }}M
        {% elif total_cases > 1000 %}
        {{ (total_cases/1000) | round(1) }}K
        {% else %}
        {{ total_cases | round(0) }}
        {% endif %}
      </span>
    </div>
  </div>
  <div class="col-sm-4">
    <div role="button" class="btn btn-success w-100">
      Vaccinations<br>
      <span class="badge badge-light">
        {% if total_vaccinations > 1000000000 %}
        {{ (total_vaccinations/1000000000) | round(1) }}B
        {% elif total_vaccinations > 1000000 %}
        {{ (total_vaccinations/1000000) | round(1) }}M
        {% elif total_vaccinations > 1000 %}
        {{ (total_vaccinations/1000) | round(1) }}K
        {% else %}
        {{ total_vaccinations | round(0) }}
        {% endif %}
      </span>
    </div>
  </div>
</div>

